@use 'sass:map';

$breakpoints: (
    'sm': 36rem,
    'md': 48rem,
    'lg': 64rem,
    'xl': 80rem,
    '2xl': 90rem
);

@mixin mobile-down($size) {
    @media (max-width: map.get($breakpoints, $size)) {
        @content;
    }
}

@mixin mobile-up($size) {
    @media (min-width: map.get($breakpoints, $size)) {
        @content;
    }
}

@mixin background-image($url, $type: 'jpg') {
    background-image: url('#{$url}.#{$type}');

    @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
        background-image: url('#{$url}@2x.#{$type}');
    }
}

$spacings: (
    0: 0rem,
    0.5: 0.125rem,
    1: 0.25rem,
    1.5: 0.375rem,
    2: 0.5rem,
    2.5: 0.625rem,
    3: 0.75rem,
    3.5: 0.875rem,
    4: 1rem,
    5: 1.25rem,
    6: 1.5rem,
    7: 1.75rem,
    8: 2rem,
    9: 2.25rem,
    10: 2.5rem,
    12: 3rem,
    14: 3.5rem,
    16: 4rem,
    20: 5rem,
    24: 6rem,
    28: 7rem,
    32: 8rem
);

@mixin space-y($size) {
    $value: map.get($spacings, $size);

    & > * + * {
        margin-top: $value;
    }
}

@mixin space-x($size) {
    $value: map.get($spacings, $size);

    & > * + * {
        margin-left: $value;
    }
}
